ul{
	list-style-type: none;
	margin:8px;
}	
li{
	display:inline;
	float:left;
	padding:8px 12px 8px 12px;
	font-family:Arial;
	font-size:12px;
}
#navBar{
	position:absolute;
	right:30px;
}
#Main{
	position:absolute;
	top:30%;
	left:40%;
}
#Search{
	padding:10px;
}
.Input{
	display:block;
	padding:10px;
}
#signin{
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
#signin:hover{
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.08);
	cursor:pointer;
}
#menu{
	background-image:url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png); 
	background-position: -132px -38px;
    opacity: .55;
    background-size: 528px 70px;
    height:15px;
    width:25px;
}
#menu:hover{
	opacity:1.0;
}
a{
	color:#434343;
	text-decoration:none;
}
input[type=text]{
	position:relative;
	left:-100px;
	width:428px;
	height:43px;
	border:none;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16) ,0 0 0 1px rgba(0,0,0,0.08);
	border-radius:2px;
}
input[type=submit]{
	border:none;
	height:36px;
	background-color:#f2f2f2;
	border:1px solid #f2f2f2;
	border-radius:2px;
	color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
.links:hover{
	text-decoration:underline;
}
input[type=submit]:hover{
	border:1px solid #c6c6c6;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	background:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background:linear-gradient(top,#f8f8f8,#f1f1f1);	
}
input[type=text]:hover{
	box-shadow:0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
#Footer{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:#f2f2f2;	
	border:1px solid #dbdbdb;
}
#leftfooter{
	display:inline;
	float:left;
	padding:5px 15px 5px 15px;
	margin: 0 10px 0 10px;
}
#leftfooter li{
		font-size: small;
		color:#595959;
}
#rightfooter li{
		font-size: small;
		color:#595959;
}
#rightfooter{
	display:inline;
	float:right;
	padding:5px 16px 5px 16px;
	margin: 0 10px 0 10px;
}

